VITE_SCORE_SHEETS_ENDPOINT=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
# Optional but much faster: the published-to-web CSV link of the "Standings" tab (see README)
VITE_STANDINGS_CSV_URL=https://docs.google.com/spreadsheets/d/e/YOUR_PUBLISH_ID/pub?gid=YOUR_GID&single=true&output=csv
